<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Forms start here</h3><br>
    <form action="/" method="POST">   <!--giving backend like php is used in the backend -->
        <div>
            <label for="name">Name:</label>  <!--label has same value which id has like in this its is= name if you click on name it will get selected -->
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            Phone: <input type="number" name="phone">
        </div>
        <br>
        <div>
            Email: <input type="email" name="email">
        </div>
        
<br>
        <div>
            Submit: <input type="submit" value="submit now">
        </div>
        <br>
    </form>
</body>
</html>