<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ acc['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ acc['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ acc['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
</body>
</html>